[build]
  command = "npm install"
  publish = "."
  functions = "netlify/functions"
  environment = { SECRETS_SCAN_ENABLED = "false" }

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/admin"
  to = "/admin.html"
  status = 200

[[redirects]]
  from = "/dashboard"
  to = "/dashboard.html"
  status = 200

[[redirects]]
  from = "/pro-dashboard"
  to = "/pro-dashboard.html"
  status = 200




